/***** Footer *****/
.footer {
  background-color: #404040;
  padding: 30px 0;
  color: #a0a0a0;
  font-size: 12px;
  a {
    color: $secondary-text-color;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }
}

.powered-by-zendesk {
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
