/***** Hero component *****/
.hero {
  height: 15rem;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 40px;
  }

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
