/***** Homepage *****/

.home-wrapper {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 88vh;
  height: 100%;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.schedule-a-demo {
  background-image: url($schedule_a_demo);
}

.updates-and-announcements {
  background-image: url($updates_and_announcements);
}

.general-information {
  background-image: url($general_info);
}

.frequently-asked-questions {
  background-image: url($frequently_asked_questions);
}

.account-and-billing {
  background-image: url($account_and_billing);
}

.accessibility-and-language-support {
  background-image: url($accessibility_and_language_support);
}

.guides-tutorials-and-training {
  background-image: url($guides_tutorials_and_training);
}

.technical-support-and-support-requests {
  background-image: url($technical_supports_and_support_requests);
}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir='rtl'] & {
        padding: 0 0 0 30px;
      }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $low-contrast-border-color;
      padding: 15px 0;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $low-contrast-border-color;
      }

      border: 0;
    }
  }
}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    margin-top: 32px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  @include standalone-link;
}

.community,
.activity {
  border-top: 1px solid $low-contrast-border-color;
  padding: 30px 0;
}
